# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Testing
coverage

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile*
docker-compose*
.dockerignore
